# Environment & Secrets
.env
*.env
.env.local

# Python
backend/venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.db

# Node / Frontend
frontend/node_modules/
node_modules/
frontend/dist/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE & OS
.DS_Store
Thumbs.db
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
